body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #151b23;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

h1 {
    color: whitesmoke;
    font-size: xx-large;
}

section {
    color: burlywood;
}

p {
    color: whitesmoke;
    font-size: large;
}
